# slurm.conf for SLURM 24.11.3
#
ClusterName={{ slurm_cluster_name | default("slurm_cluster") }}
ControlMachine={{ slurm_control_host }}
SlurmUser={{ slurm_user | default("slurm") }}
SlurmdUser={{ slurmd_user | default("root") }}
AuthType=auth/munge

# Ports and Logging
SlurmctldPort={{ slurmctld_port | default("6817") }}
SlurmdPort={{ slurmd_port | default("6818") }}
SlurmctldLogFile={{ slurmctld_logfile | default("/var/log/slurmctld.log") }}
SlurmdLogFile={{ slurmd_logfile | default("/var/log/slurmd.log") }}
SlurmctldPidFile={{ slurmctld_pidfile | default("/var/run/slurmctld.pid") }}
SlurmdPidFile={{ slurmd_pidfile | default("/var/run/slurmd.pid") }}

# State and Spool Directories
StateSaveLocation={{ state_save_location | default("/var/spool/slurm/ctld") }}
SlurmdSpoolDir={{ slurmd_spool_dir | default("/var/spool/slurm/d") }}

# Scheduling
SchedulerType={{ scheduler_type | default("sched/backfill") }}
SelectType={{ select_type | default("select/cons_tres") }}
SelectTypeParameters={{ select_type_parameters | default("CR_Core") }}
ReturnToService={{ return_to_service | default("2") }}
MpiDefault={{ mpi_default | default("none") }}
TaskPlugin={{ task_plugin | default("task/affinity") }}

# Node definitions for compute nodes (generated dynamically from inventory)
{% for host in groups['compute'] %}
NodeName={{ hostvars[host].inventory_hostname }} CPUs={{ hostvars[host].ansible_processor_vcpus | default(1) }} RealMemory={{ hostvars[host].ansible_memtotal_mb | default(1024) }} State=UNKNOWN
{% endfor %}

# Partition definition using the list of compute nodes (comma separated)
PartitionName={{ slurm_partition_name | default("debug") }} Nodes={{ groups['compute'] | join(",") }} Default=YES MaxTime=INFINITE State=UP
